.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 200px;
  }
  
  .card_image{
    height: 200px;
    width: 200px;
    
  }